{% extends "blog/base.html" %}
{% block content%}
    <h1 class="text-white">About page</h1>   
    
    <div class=" border border-white rounded"style="margin-top: 40px;margin-bottom: 40px ;padding: 40px ">
        <h3 class="text-white">Blog Posts Web App (Using Django)</h3>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light bg-steel text-dark border border-white"> Developed a platform where users can create their own 
                blog posts and view blogs.</li>
            <li class="list-group-item list-group-item-light bg-steel text-dark border border-white">Users can Create an account and Login and Logout from an 
                Account</li>
            <li class="list-group-item list-group-item-light bg-steel text-dark border border-white">Technologies Used - Django .</li>
 
          </ul>
    </div>

{% endblock content %}